.campout-header {
	@include row();
	background: $brown-overlay;
	position: relative;
	z-index: 9;
	@include media( $large-screen ) {
		height: 75px;
	}
	.inner-header {
		@include outer-container;
		a {
			color: $white;
		}
		.swift-logo {
			@include span-columns(2);
			svg {
				height: 60px;
				padding: $ten $ten 0;
				width: 100%;
				@include media( $large-screen ) {
					padding-top: $ten;
				}
			}
		}
		.login {
			@include span-columns(6);
			@include shift(4);
			color: $white;
			font-family: $orator;
			font-size: $h4-font-size;
			text-align: right;
			text-transform: lowercase;
			a {
				display: inline-block;
				padding: $twenty $ten $twenty 0;
				@include media( $large-screen ) {
					padding: $twenty 0;
				}
			}
		}
	}
}

.swift-campout {
	color: $brown;
	input[type="submit"].button-primary {
		background: $orange;
		&:hover {
			background: $brown;
		}
	}
	.page-notes {
		border: 1px dashed $brown;
		margin-bottom: $twentyfive;
		padding: $twentyfive;
		text-align: center;
		p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	.hide-this {
		display: none;
	}
	.button-primary,
	.button {
		border-radius: 3px;
		color: $white;
		cursor: pointer;
		font-family: $orator;
		font-size: $h3-font-size;
		text-align: center;
		text-transform: lowercase;
		&.brown-button {
			background: $brown;
			&:hover {
				background: $orange;
			}
		}
		&.orange-button {
			background: $orange;
			&:hover {
				background: $brown;
			}
		}
	}
	h1 {
		font-size: ($h1-font-size * 1.5);
		text-align: center;
		padding-top: $twentyfive;
		@include media( $large-screen ) {
			padding-bottom: $twentyfive;
			padding-top: 0;
		}
	}
	h3 {
		line-height: 1.75;
	}
	h1, h2,
	h3, h4 {
		font-family: $orator;
		text-transform: lowercase;
	}
	.swift-background {
		height: 200%;
		left: -50%;
		position: fixed;
		top: -50%;
		width: 200%;
  		@include media( $large-screen ) {
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
		}
		img {
			bottom: 0;
			left: 0;
			margin: auto;
			min-width: 50%;
			min-height: 50%;
			position: absolute;
			right: 0;
			top: 0;
  			@include media( $large-screen ) {
				min-height: 100%;
				width: 100%;
			}
		}
		@include media( $large-screen ) {
			height: 100%;
			top: 0;
			width: 100%;
		}
	}
	.section {
		@include row();
		position: relative;
		.section-content-container {
			.section-content {
				@include outer-container;
				@include media( $large-screen ) {
					padding: $fifty 0;
				}
				.button-container {
					padding: $twentyfive 0 0;
				}
				.two-up {
					padding: 0 $twentyfive;
					@include media( $large-screen ) {
						@include span-columns(6);
						padding: 0;
					}
				}
				.content {
					background: $yellow;
					padding: $twentyfive;
					h2 {
						margin-bottom: $fifteen;
					}
					.button-container {
						text-align: center;
					}
					p:last-of-type {
						margin: 0;
					}
				}
			}
		}
		&.lead-in {
			text-align: center;
			a {
				text-align: center;
				img {
					margin: $twentyfive auto 0;
					@include media( $large-screen ) {
						margin-top: 0;
					}
				}
			}
			@include media( $large-screen ) {
				h1 {
					padding: $twentyfive 0;
				}
			}
			.callout-banner {
				img {
					padding: $fifteen;
					@include media( $large-screen ) {
						padding: 0;
					}
				}
			}
		}
		&.overview {
			.gm-map {
				padding-top: $fifty;
			}
			.two-up:first-of-type {
				margin-bottom: $fifty;
				@include media( $large-screen ) {
					margin-bottom: 0;
				}
			}
		}
		&.partners {
			.partner-links {
				text-align: center;
			}
			.partner-section {
				margin-bottom: $fifty;
				padding: 0 $twentyfive;
				&:last-of-type {
					margin-bottom: 0;
				}
				.collaborative-partners {
					@include row();
					.partner {
						@include media( $large-screen ) {
							@include span-columns(3);
							@include omega(4n);
						}
					}
				}
				.sidekick-partners {
					@include row();
					.partner {
						// @include span-columns(6);
						@include media( $large-screen ) {
							@include span-columns(4);
							@include omega(3n);
						}
					}
				}
			}
		}
		&.registration-form {
			.section-content {
				.content {
					margin: 0 $twentyfive;
					padding: 0 $twentyfive $twentyfive;
					@include media( $large-screen ) {
						margin: 0;
					}
					.tabs {
						@include row();
						margin-bottom: $fifty;
						li {
							@include span-columns(6);
							font-family: $orator;
							font-size: $h6-font-size;
							text-align: center;
							text-transform: lowercase;
							@include media( $large-screen ) {
								font-size: $h3-font-size;
							}
							a {
								background: transparent;
								color: $brown;
								font-size: 12px;
								padding: 0;
								@include media( $large-screen ) {
									background: $light-gray;
									border-radius: 0px 0px 3px 3px;
									color: $medium-gray;
									font-size: $h3-font-size;
									position: relative;
									top: 7px;
								}
								&.active {
									@include media( $large-screen ) {
										background: $orange;
										color: $white;
									}
								}
							}
						}
					}
					#tab2 {
						@include row();
						#loginform {
							@include media( $large-screen ) {
								@include span-columns(6);
								@include shift(3);
							}
							label {
								font-family: $orator;
								font-weight: 400;
								margin-bottom: 0;
								text-transform: lowercase;
							}
							.login-remember {
								@include media( $large-screen ) {
									float: right;
								}
								input {
									margin-right: 0;
								}
							}
							.login-submit {
								@include media( $large-screen ) {
									float: left;
								}
							}
						}
					}
				}
			}
			.gform_wrapper {
				margin: 0;
				max-width: 100%;
			}
			.two-column_wrapper {
				.gform_body {
					 @include row();
					 .gform_fields:first-of-type {
						 display: none;
					 }
					 ul.gform_fields {
						@include media( $large-screen ) {
							&.gform_column:nth-of-type(2) {
								@include span-columns(4);
							}
							&.gform_column:nth-of-type(3) {
								display: block;
								float: right;
								width: 57.35098%;
							}
						}
						&.gform_column {
							.gsection {
								display: none;
							}
							.gfield_label {
								font-family: $orator;
								font-size: $h6-font-size;
								font-weight: 400;
								margin: 0;
								padding: 0;
								text-transform: lowercase;
							}
							.ginput_container {
								margin: 0;
								.gfield_checkbox {
									label {
										font-size: 12px;
										font-weight: 400;
									}
								}
							}
							.gfield_radio {
								li {
									display: inline-block;
									margin-right: $ten;
									label {
										font-weight: 400;
									}
								}
							}
						}
						&.second-column {
							textarea {
								width: 100%;
							}
						}
					}
				}
				.gform_footer {
					text-align: center;
					.gform_button {
						&:hover {
							background: $brown;
						}
					}
				}
			}
		}
		&.profiles {
			.section-content {
				.slick-slide {
					text-align: left;
				}
				.first-column {
					padding: 0 $twentyfive;
					@include media( $large-screen ) {
						@include span-columns(9);
						padding: 0;
					}
					.name-avatar {
						@include row();
						margin-bottom: $twentyfive;
						.avatar-container {
							@include span-columns(2);
							@include media( $large-screen ) {
								@include span-columns(1);
							}
						}
						.name {
							@include span-columns(6);
							text-align: left;
						}
					}
				}
				.second-column {
					padding: 0 $twentyfive $twentyfive;
					@include media( $large-screen ) {
						@include span-columns(3);
						padding: 0;
					}
					.camper-profile-pic {
						img {
							height: auto;
							margin: 0 auto $fifty;
							width: 100%;
						}
					}
				}
				.profile-content {
					text-align: left;
				}
			}
		}
		&.social-media {
			h2 {
				margin: $twentyfive 0;
				text-align: center;
			}
			.video-embed {
				position: relative;
				padding-bottom: 56.25%;
				height: 0;
				overflow: hidden;
				max-width: 100%;
				height: auto;
				iframe, object, embed {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			.blog-portal-container {
				@include media( $large-screen ) {
					position: relative;
				}
				.blog-portal {
					.picture {
						img {
							float: left;
						}
					}
					.portal-content {
						background: $orange-overlay;
						clear: both;
						color: $white;
						width: 100%;
						h1 {
							font-size: $h2-font-size;
							padding-bottom: $ten;
							@include media( $large-screen ) {
								font-size: $h1-font-size;
								padding: 0;
							}
						}
						h3 {
							font-size: $h5-font-size;
							padding-bottom: $twentyfive;
							text-align: center;
							@include media( $large-screen ) {
								font-size: $h2-font-size;
								padding: 0 $twentyfive $twentyfive;
								text-align: right;
							}
						}
					}
				}
			}
			.hashtag-feed {
				#wdi_feed_0 {
					.wdi_feed_container {
						background: transparent;
						border: 0;
						.wdi_feed_wrapper {
							background: transparent;
							.wdi_photo_wrap_inner {
								border: 0;
							}
						}
						.wdi_load_more {
							display: none;
						}
					}
				}
			}
		}
		&.gear-up {
			.hipcamp-plug {
				margin-bottom: $fifty;
				@include media( $large-screen ) {
					margin-bottom: 0;
				}
				.content {
					clear: both;
				}
				@include media( $large-screen ) {
					margin: 0;
				}
				img {
					float: left;
					margin-bottom: $fifty;
				}
				h3 {
					text-align: center;
				}
			}
			h2.shop-portal-title {
				background: $white;
				padding: $ten 0;
				text-align: center;
			}
			.shop-portals {
				@include row();
				background: $white;
				margin-bottom: $hundred;
				@include media( $large-screen ) {
					margin: 0;
				}
				.portal {
					@include span-columns(6);
					@include omega(2n);
					padding: $fifteen;
					img {
						height: auto;
					}
					h4 {
						text-align: center;
					}
				}
			}
		}
	}
	.campout-login {
		left: 50%;
		position: absolute;
		top: 50%;
		@include transform(translate(-50%,-50%));
		width: 75%;
		@include media( $large-screen ) {
			width: 50%;
		}
		.login {
			@include media( $large-screen ) {
				@include span-columns(6);
				@include shift(3);
			}
			label {
				font-family: $orator;
				font-weight: 400;
				margin-bottom: 0;
				text-transform: lowercase;
			}
			.login-remember {
				@include media( $large-screen ) {
					float: right;
				}
				input {
					margin-right: 0;
				}
			}
			.login-submit {
				@include media( $large-screen ) {
					float: left;
				}
			}
		}
	}
	.profile-container {
		@include outer-container;
		background: $yellow;
		padding: $twentyfive;
		position: relative;
		h2 {
			margin-bottom: $twentyfive;
		}
		h3 {
			display: none;
		}
		#buddypress {
			clear: both;
			fieldset {
				background: transparent;
				border: 0;
			}
			#item-header {
				@include row();
				#item-header-avatar {
					img {
						height: auto;
						max-width: 150px;
					}
				}
				#item-header-content {
					display: none;
				}
			}
			.item-list-tabs {
				li {
					a {
						color: $brown;
					}
					&.current,
					&.selected {
						a {
							background: transparent;
							text-decoration: underline;
						}
					}
				}
			}
			#item-nav {
				@include row();
				clear: both;
			}
			#item-body {
				.profile {
					h4 {
						display: none;
					}
					table.profile-fields {
						tr.alt {
							td {
								background: transparent;
								border-color: $light-gray;
							}
						}
						td.label {
							font-family: $orator;
							font-weight: 400;
							text-transform: lowercase;
							width: 33.3%;
						}
						td.data {
							width: 66.6%;
						}
					}
					a {
						color: $orange;
						&:hover {
							color: $brown;
						}
					}
				}
			}
			.drag-drop {
				.drag-drop-inside {
					p {
						color: $brown;
					}
				}
			}
		}
		#geo_mashup_location_editor {
			color: transparent;
			#geo_mashup_ajax_message {
				margin-bottom: $fifteen;
			}
			#geo-mashup-location-table {
				margin-bottom: 0;
				margin-top: 0;
				text-align: center;
				@include media( $large-screen ) {
					@include span-columns(3);
				}
				tr, td {
					border: 0;
				}
				.ui-widget-header {
					display: none;
				}
				.ui-widget-content {
					border: 0;
					padding: 0;
					text-align: left;
					.geo-mashup-info,
					#geo_mashup_saved_name_ui,
					#geo_mashup_date_ui {
						display: none;
					}
					#geo_mashup_submit {
						input {
							background: $orange;
							border-radius: 3px;
							color: $white;
							cursor: pointer;
							font-family: $orator;
							font-size: $h3-font-size;
							text-align: center;
							text-transform: lowercase;
							&:hover {
								background: $brown;
							}
						}
					}
					.map-orphan-text {
						display: none;
					}
				}
			}
			#geo_mashup_map {
				@include media( $large-screen ) {
					@include span-columns(9);
					@include omega;
				}
			}
			label[for="geo_mashup_search"] {
				color: transparent;
				float: left;
				margin-bottom: 0;
			}
			#geo_mashup_select,
			#geo-mashup-inline-help-link-wrap {
				display: none;
			}
		}
	}
}

.campout-footer {
	background: $brown-overlay;
	font-family: $orator;
	font-size: $h2-font-size;
	padding: $fifteen 0;
	position: relative;
	text-align: center;
	text-transform: lowercase;
	z-index: 9;
	a {
		color: $white;
		&:visited,
		&:focus {
			color: $white;
		}
	}
}
