.mobile-header {
	color: $gray;
	font-size: 14px;
	position: absolute;
	width: 100%;
	z-index: 1;
	@include media( $large-screen ) {
		display: none;
	}
	.site-branding {
		height: auto;
		margin: $fifteen auto;
		width: 30%;
		z-index: 1;
	}
	.menu-hook-container {
		right: $twentyfive;
		height: $twentyfive;
		position: absolute;
		top: $twentyfive;
		width: $twentyfive;
	}
	a {
		color: $gray;
		&:hover {
			color: $pink;
		}
	}
}

.overlay {
	position: fixed;
	width: 100%;
	display: none;
	height: 100%;
	top: 0;
	left: 0;
	background: $medium-gray;
	z-index: 2;
	.overlay-close {
		height: $twentyfive;
		position: absolute;
		right: $twentyfive;
		top: $twentyfive;
		width: $twentyfive;
		z-index: 2;
		svg {
			width: $twentyfive;
		}
	}
	.mobile-navigation {
		height: auto;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		width: 100%;
		z-index: 0;
		.navigation {
			li.menu-item-has-children {
				&:first-child > a {
					padding-right: $fifteen;
					text-transform: uppercase;
					background: {
						image: url(../images/chevron_down.svg);
						position: center right;
						repeat: no-repeat;
						size: 14px;
					}
					font: {
						weight: 400;
						size: 18px;
					}
				}
			}
		}
		.left-navigation {
			@include span-columns(5);
			@include shift(1);
		}
		.right-navigation {
			@include span-columns(5);
			@include shift(1);
			@include omega;
		}
	}
	.utility-header {
		@include span-columns(10);
		@include shift(1);
		margin-bottom: $fifteen;
		text-align: center;
		.utility-link {
			margin: 0 $ten;
		}
		svg {
			fill: $gray;
		}
	}
	.social-links {
		bottom: $twentyfive;
		left: 50%;
		position: absolute;
		text-align: center;
		@include transform(translateX(-50%));
		svg {
			margin: 0 $five;
			width: $twentyfive;
			path {
				fill: $gray;
			}
		}
	}
}

.utility-header {
	svg {
		vertical-align: middle;
		width: 16px;
	}
}

.desktop-header {
	display: none;
	position: absolute;
	width: 100%;
	z-index: 1;
	@include media( $large-screen) {
		@include row();
	}
	.utility-header {
		display: none;
		margin-bottom: $fifty;
		padding-top: $five;
		@include media( $large-screen ) {
			@include row();
		}
		.inner-container {
			@include outer-container;
			.account-link {
				@include shift(7);
				@include span-columns(2);
				font-size: 16px;
				height: 20px;
				padding-top: 3px;
				text-align: right;
				.account-title {
				}
			}
			.cart-link {
				@include span-columns(1);
				font-size: 16px;
				height: 20px;
				padding-top: 3px;
				text-align: right;
				.cart-title {
				}
			}
			.search-form {
				@include span-columns(2);
				color: $medium-gray;
				font-size: 16px;
				label {
					margin-right: $ten;
				}
				input[type="search"] {
					padding: $five $five $five $twentyfive;
					border: 1px solid $light-gray;
					background: {
						image: url('../images/magnifying_glass.svg');
						position: $five;
						repeat: no-repeat;
						size: 18px;
					}
				}
			}
		}
		svg {
			fill: $medium-gray;
		}
		a {
			color: $medium-gray;
		}
	}
	.main-navigation {
		@include row();
		.navigation {
			.menu {
				position: relative;
				li.menu-item-has-children {
					position: relative;
				    display: inline-block;
					z-index: 10;
					&:first-child > a {
						color: $gray;
						height: $twentyfive;
						padding-right: $fifteen;
						text-transform: uppercase;
						background: {
							image: url(../images/chevron_down.svg);
							position: center right;
							repeat: no-repeat;
							size: 14px;
						}
						font: {
							weight: 400;
							size: 18px;
						}
					}
					&:first-child:hover {
					 .sub-menu {
							display: block;
						}
					}
				}
				.sub-menu {
					display: none;
					a {
						color: $gray;
						text-transform: none;
						&:hover {
							color: $pink;
						}
					}
				}
			}
		}
		.navigation {
			display: none;
		}
		.left-navigation {
			@include span-columns(2);
			@include shift(3);
		}
		.site-branding {
			@include span-columns(2);
			svg {
				width: 100%
			}
		}
		.right-navigation {
			@include span-columns(2);
			@include shift(1);
		}
	}
}
