.story-content-container {
	@include outer-container;
	margin-bottom: $hundred;
	margin-top: $hundred;
	.story-content {
		@include span-columns(10);
		@include shift(1);
		blockquote {
			border-left: 0;
			color: $medium-gray;
			font-style: italic;
		}
		h2 {
			margin-bottom: $twentyfive;
		}
		.row {
			@include row();
			margin-bottom: $hundred;
			.left {
				@include span-columns(5);
				img {
					height: auto;
				}
			}
			.right {
				@include span-columns(7);
			}
		}
	}
}
