.adventure-store {
	@include outer-container;
	margin-top: $hundred;
	h2 {
		margin-bottom: $twentyfive;
		text-align: center;
	}
	.product-portal-row {
		@include row();
		margin-bottom: $hundred;
		.product-portal {
			margin-bottom: $twentyfive;
			text-align: center;
			@include span-columns(6);
			@include omega(even);
			@include media( $large-screen ) {
				@include span-columns(3);
				@include omega(4n);
			}
			img {
				height: auto;
			}
			h3 {
				font-weight: 400;
				margin: 0 auto;
				text-align: center;
				width: 75%;
			}
		}
	}
}

.page-title {
	font-family: $orator;
	margin-bottom: $twentyfive;
	text-align: center;

}

.collection-row {
	.products {
		.product {
			.ajax_add_to_cart {
				display: none;
			}
		}
	}
}

.product-taxonomies {
	@include outer-container;
	margin-bottom: ($hundred * 2);
	margin-top: $hundred;
	.collection-title {
		h1 {
			font-family: $orator;
			margin-bottom: $twentyfive;
			text-align: center;
		}
	}
	.collection {
		.product-portal {
			@include span-columns(3);
			@include omega(4n);
			img {
				height: 100%;
			}
		}
	}
	.taxonomy-title {
		margin: $fifty 0;
		padding: 0 $twentyfive;
		text-align: center;
		text-transform: uppercase;
		@include media( $large-screen ) {
			padding: 0;
		}
	}
	.description {
		text-align: center;
		margin: $hundred 0;
	}
	.product-portal {
		margin-bottom: $twentyfive;
		text-align: center;
		img {
			height: auto;
		}
		h3 {
			margin: 0 auto;
			text-align: center;
			width: 75%;
		}
	}
	.taxonomy-product-portal-row {
		text-align: center;
		h2 {
			margin-bottom: $twentyfive;
			padding: 0 $twentyfive;
			@include media( $large-screen ) {
				padding: 0;
			}
		}
		.product-portal {
			margin-bottom: $fifty;
			text-align: center;
			@include span-columns(6);
			@include omega(even);
			@include media( $large-screen ) {
				@include span-columns(3);
				@include omega(4n);
				padding: 0;
			}
		}
		.products {
			margin-bottom: $hundred;
			@include row();
			.product-portal {
				padding: 0 $twentyfive;
				margin-bottom: $fifty;
				@include media( $large-screen ) {
					@include span-columns(2);
					@include omega(6n);
					padding: 0;
				}
				.price,
				.button,
				.add_to_cart_button {
					display: none;
				}
			}
			img {
				height: auto;
			}
			a {
				color: $medium-gray;
				&:hover {
					color: $pink;
				}
			}
		}
	}
	&.swift-designs,
	&.readymade {
		text-align: center;
		.product-portal {
			@include media( $large-screen ) {
				@include span-columns(3);
				@include omega(5n);
			}
			h3 {
				margin: 0 auto;
				text-align: center;
				width: 75%;
			}
			img {
				height: auto;
			}
			&:nth-child(4) {
				// clear: both;
			}
		}
	}
	.readymade-products,
	.custom-products {
		text-align: center;
		@include media( $large-screen ) {
			@include span-columns(6);
		}
		.product-portal {
			@include media( $large-screen ) {
				@include span-columns(6);
				// @include omega(2n);
			}
			&:nth-child(2n) {
				// clear: both;
			}
		}
	}
	.custom-products.porteur-bags {
		@include media( $large-screen ) {
			@include span-columns(6);
			@include shift(3);
			.product-portal {
				@include span-columns(6);
			}
		}
	}
	.hinterland,
	.adventure-store {
		.product-portal {
			@include media( $large-screen ) {
				@include span-columns(3);
				@include omega(4n);
			}
		}
	}
}
