.product-taxonomies {
	@include outer-container;
	margin-bottom: ($hundred * 2);
	.collection-title {
		h1 {
			font-family: $orator;
			margin-bottom: $twentyfive;
			text-align: center;
		}
	}
	.collection {
		.product-portal {
			@include span-columns(3);
			@include omega(4n);
			img {
				height: 100%;
			}
		}
	}
	.taxonomy-title {
		margin: $fifty 0;
		padding: 0 $twentyfive;
		text-align: center;
		text-transform: uppercase;
		@include media( $large-screen ) {
			padding: 0;
		}
	}
	.products-column {
		@include media( $large-screen ) {
			@include span-columns(6);
		}
		text-align: center;
		img {
			margin: 0 auto;
		}
	}
	.product-portal {
		padding: 0 $twentyfive;
		@include media( $large-screen ) {
			padding: 0;
		}
		margin-bottom: $hundred;
		img {
			height: auto;
		}
		a {
			color: $medium-gray;
			&:hover {
				color: $pink;
			}
		}
		h3 {
			margin: 0 auto;
			text-align: center;
			width: 75%;
		}
	}
	&.swift-designs {
		margin-bottom: $hundred;
		margin-top: $hundred;
		text-align: center;
		.product-portal {
			@include media( $large-screen ) {
				@include span-columns(3);
			}
		}
	}
	.porteur-bags {
		.product-portal {
			@include media( $large-screen ) {
				@include span-columns(3);
				&:first-child {
					@include shift(3);
				}
			}
		}
	}
	.general-store {
		.product-portal {
			@include media( $large-screen ) {
				@include span-columns(3);
				@include omega(4n);
			}
		}
	}
}
