$black: #00131B;
$white: #fff;
$slate: #2f4f4f;
$gray: #3b404c;
$medium-gray: #848b9d;
$light-gray: #c7cddb;
$pink: #ec008c;
$orange: #e35700;
$dark-orange: #c04a01;
$green: #0ea570;
$white-overlay: rgba(204,204,204,.9);
$white-overlay-half: rgba(204,204,204,.7);
$transparent: rgba(255,255,255,0);

$five: 5px;
$ten: 10px;
$fifteen: 15px;
$twenty: 20px;
$twentyfive: 25px;
$thirty: 30px;
$forty: 40px;
$fifty: 50px;
$hundred: 100px;
